
@{
    ViewBag.Title = "ChangeSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Successful</h2>
@section scripts
{
    <script>
        toastr.success("Pin Change Successful.");
    </script>
}

