
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br /><br />
      <div class="index">
          <img src="~/bank.jpg">
      </div>



<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - State Bank</p>
</footer>