@{
    ViewBag.Title = "Welcome";
}


<section id="home-section">
    <div class="head-bg">
        <div class="head-text">
            <h4 style="font-size:2.2em;color:white"><b>Welcome to Bank !</b></h4>
            <h5 style="color:whitesmoke">
                If you have an account at our bank, then click on the register link to start using our online banking
                features. If you have registered to our website before, then just login and start using all the amazing features.
                If you wanna open account at our bank, contact us at admin@banking.com.
                Dont bother clicking on Know More, the link will not work!
            </h5>
            <button class="btn btn-primary bttn">Know More...</button>
        </div>
    </div>
</section>
